@model Web.Models.ProductViewModel.ProductLst

@{
    ViewData["Title"] = "Portfolio";
}

@await Component.InvokeAsync("Header")

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pageTitle">Portfolio</h2>
            </div>
        </div>
    </div>
</section>

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="portfolio-categ filter">
                    <li class="all">
                        <a href="#">Tümü</a>
                    </li>
                    @foreach (var item in Model.Products.DistinctBy(c => c.CategoryTag).ToList())
                    {
                        <li class="@item.CategoryTag.ToLower()">
                            <a href="#">@item.Category</a>
                        </li>
                    }
                </ul>
                <div class="clearfix"></div>
                <div class="row">
                    <div id="projects" class="portfolio">
                        @foreach (var item in Model.Products)
                        {
                            <div class="col-lg-3 col-md-4 col-sm-6 item-thumbs design" data-id="@item.PageName.ToLower()" data-type="@item.CategoryTag.ToLower()">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="@item.PageName.ToLower()" href="/ProductDetail/Index/@item.Id">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb"><i class="icon-info-blocks fa fa-code"></i></span>
                                </a>
                                <img src="@item.ImageUrl" alt="">
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

